@import 'tailwindcss';
@theme {
  --bg: #333333;
  /* --color-primary: #333333; */
  --color-primary: var(--bg);
  --fg: #ffff00;
  /* --color-secondary: #ffff00; */
  --color-secondary: var(--fg);
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
