---
import { Picture } from 'astro:assets';
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
const projectEntries = await getCollection('projects');
---
<BaseLayout title="Projects page" >
  <ul class="text-secondary">
    {projectEntries.map(projectEntry => (
      <li>
        <a href={`projects/${projectEntry.slug}`}>
          <div>
            <Picture
              src={projectEntry.data.feat_img}
              formats={['avif','webp']}
              widths={[240, 540, 720, 1080, 1500, projectEntry.data.feat_img.width]}
              // sizes="100vw"
              // sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${projectEntry.data.feat_img.width}px`}
              alt=""
            />
          </div>
          <p>{projectEntry.data.title}</p>
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>

<style>
  ul {
    display: grid;
    width: fit-content;
  }
</style>